
<% logging_in = false %>
<%= render 'shared/content_title', title: "Log in" %>

<div id="login-form">
  <%= form_tag '/login' do %>
    <div class="control-group">
      <%= label_tag :username %>
      <%= text_field_tag :username %>
    </div>

    <div class="control-group">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <br/>
    <%= submit_tag 'Login', class: 'btn btn-success login-button' %>
    <%= link_to 'Cancel', posts_path, class: 'login-cancel-button' %>
    <br/>
    <%= link_to 'Register new account', register_path, class: 'new-user' %>
  <% end %>
</div>
