<div class="well">
  <%= form_for @user do |f| %>
  <%= render 'shared/errors', controller_action: @user %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <br>
    <%= f.submit action, class: 'btn btn-primary' %>
  <% end %>
</div>
