<div class="row">

  <!-- POST'S VOTE -->
  <div class="span0 well text-center">
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true do %>
        <i class="icon-arrow-up icon-white"></i>
      <% end %>
    <% end %>
    <br/>
    <span id="post_<%=post.slug%>_votes"><%= pluralize(post.total_votes, 'vote') %></span>
    <br/>
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: false), method: 'post', remote: true do %>
        <i class="icon-arrow-down icon-white"></i>
      <% end %>
    <% end %>
  </div>

  <!-- POST'S CONTENT -->
  <div class="span9 well each_post">
    <%= render post.categories %>
    <h4><%= link_to post.title, fix_url(post.url), class: 'post_title' %></h4>
    <p><%= post.content %></p>
    <hr/>
    <p class="post_meta">
      <span class="quiet">posted by:</span> <%= link_to post.creator.username, user_path(post.creator) %>
      <small>at <%= display_datetime(post.created_at) %></small>
      <span class="pull-right">
        <%= link_to "View comments (#{post.comments.size})", post_path(post) %>
      </span>
    </p>
  </div>

</div>
